.box_container {
  width: 366px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 43px 47px 50px 40.5px;
  border-radius: 12px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo__image {
  margin: 0 auto;
  margin-bottom: 42px;
}
.form_input {
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: center;
  margin-bottom: 60px;
}

.form_input input {
  width: 278.5px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #d0cece;
  font-size: 18px;
  padding-bottom: 8px;
}
.form_input input:focus{
    outline: none;
}

.form_button {
  padding: 12px 50px 16px 50px;
  background-color: #580ea2;
  border-radius: 6px;
  border: none;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}
.form_button:hover{
    background-color: #3F007D;
}
.form_button:active{
    background-color: #271A58;
}