.modal {
  box-sizing: border-box;
  width: 248px;
  background-color: #313131;
  border-radius: 12px;
  position: absolute;
  left: 0;
  transform: translateY(10px);
}
.modalContent {
  padding: 34px;
}
.listItem {
color: white;
  display: flex;
  gap: 28px;
  height: max-content;
  max-height: 237px;
  overflow-y: auto;
  flex-direction: column;
  max-width: 248px;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(75, 73, 73, 1);
  }

  &::-webkit-scrollbar-thumb {
    background-color: white;
  }
}

.item a {
    color: white;
}

.item a:hover {
    text-decoration: underline;
    color: #B672FF;
}